@font-face
{
    font-family: poppins;
    src:url('../fonts/Poppins/Poppins-Medium.ttf');
}
$primary-color:#7E33DE;
$secondary-color:#65F1E9;
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:grey;
    font-family: poppins;
}
@mixin flex {
    grid-area: 'search-bar';
    display: flex;
    align-items:center;
    justify-content: center;
}
@mixin box-shadow {
    box-shadow:0px 0px 2px black;
}
@mixin hover-anime {
    &:hover
    {
        background-color: $primary-color;
        color:white;
        border-radius: 10px;
    }
}
body
{
    display:grid;
    grid-template-areas: "logo search-bar search-bar profile-tab"
                            "left-bar middle1-bar middle2-bar right-bar"
                            "left-bar middle1-bar middle2-bar right-bar";
    grid-template-columns: 0.5fr 0.7fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 12fr;
    height:100vh;
    .logo
    {
        @include flex();
        grid-area:logo;
        // background-color: pink;
        h4
        {
            color:black;
            margin-left: 2%;
        }
    }
    .search-bar
    {
        @include flex();
        grid-area:search-bar;
        // background-color: seagreen;
        img
        {
            width:20px;
            height:20px;
            margin-right:1%;
        }
        input
        {
            background-color: transparent;
            outline:none;
            border:none;
        }
    }
    .profile-tab
    {
        @include flex();
        grid-area: profile-tab;
        // background-color: sienna;
        img
        {
            width:20px;
            height:20px;
            margin-right: 5%;
        }
        span
        {
            cursor: pointer;
        }
    }
    .left-bar
    {
        grid-area:left-bar;
        @include flex();
        flex-direction: column;
        justify-content: space-evenly;
        // background-color: springgreen;
        input
        {
            padding:2%;
            margin:5%;
            outline:none;
            border:none;
            background-color: $primary-color;
            color:white;
            border-radius: 10px;
            cursor: pointer;
            @include box-shadow();
        }
        .menu
        {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // background-color: lawngreen;
            height:50%;
            width:70%;
            div
            {
                display:flex;
                img
                {
                    margin-right:5%;
                    width:20px;
                    height:20px;
                    color:grey;
                }
                label
                {
                    cursor: pointer;
                    transition-duration: 0.25s;
                    padding:1%;
                   // background-color: palevioletred;
                   @include hover-anime();
                }
            }
        }
        .settings-btn
        {
            display:flex;
            width:60%;
            // background-color: peru;
            align-items: center;
            img
            {
                margin:5%;
            }
            label
            {
                vertical-align: middle;
                cursor: pointer;
                transition-duration: 0.25s;
                padding:1%;
                @include hover-anime();
            }
        }
        .footer
        {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .icons
            {
                display: flex;
                justify-content: space-evenly;
                margin:15%;
            }
        }
    }
    .middle1-bar
    {
        grid-area:middle1-bar;
        // background-color: teal;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        .img
        {
            width:20px;
            height:20px;
        }
        .patient-staff
        {
            display:flex;
            justify-content: space-evenly;
            .stats
            {
                display: flex;
                align-items:center;
                border:1px solid $primary-color;
                border-radius:10px;
                padding:2%;
                transition-duration: 0.25s;
                cursor: pointer;
                @include box-shadow();
                @include hover-anime();
                img
                {
                    margin-right:15%;
                }
            }
        }
        #columnchart_values
        {
            
        }
        #curve_chart
        {
            width:500px;
            height:200px;
        }
    }
    .middle2-bar
    {
        grid-area:middle2-bar;
        // background-color: green;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        .stats
        {
            display:flex;
            align-items: center;
            border:1px solid $primary-color;
            border-radius:10px;
            padding: 1%;
            height:15%;
            width:50%;
            transition-duration: 0.25s;
            cursor: pointer;
            @include box-shadow();
            @include hover-anime();
            img
            {
                width:20px;
                height:20px;
                margin:10%;
            }
        }
        #donutchart
        {
            width:300px;
            height:200px;
        }
    }
    .right-bar
    {
        grid-area:right-bar;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // background-color: tomato;
        .stats-last
        {
            display:flex;
            align-items: center;
            border:1px solid $primary-color;
            border-radius:10px;
            padding: 1%;
            height:15%;
            width:50%;
            transition-duration: 0.25s;
            cursor: pointer;
            @include box-shadow();
            @include hover-anime();
            img
            {
                width:20px;
                height:20px;
                margin:10%;
            }
        }
        #donutchart2
        {
            width:270px;
            height:200px;
        }
        #curve_chart2
        {
            width:270px;
        }
    }
}