@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins/Poppins-Medium.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: grey;
  font-family: poppins; }

body {
  display: grid;
  grid-template-areas: "logo search-bar search-bar profile-tab" "left-bar middle1-bar middle2-bar right-bar" "left-bar middle1-bar middle2-bar right-bar";
  grid-template-columns: 0.5fr 0.7fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 12fr;
  height: 100vh; }
  body .logo {
    grid-area: 'search-bar';
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo; }
    body .logo h4 {
      color: black;
      margin-left: 2%; }
  body .search-bar {
    grid-area: 'search-bar';
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: search-bar; }
    body .search-bar img {
      width: 20px;
      height: 20px;
      margin-right: 1%; }
    body .search-bar input {
      background-color: transparent;
      outline: none;
      border: none; }
  body .profile-tab {
    grid-area: 'search-bar';
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: profile-tab; }
    body .profile-tab img {
      width: 20px;
      height: 20px;
      margin-right: 5%; }
    body .profile-tab span {
      cursor: pointer; }
  body .left-bar {
    grid-area: left-bar;
    grid-area: 'search-bar';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly; }
    body .left-bar input {
      padding: 2%;
      margin: 5%;
      outline: none;
      border: none;
      background-color: #7E33DE;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 2px black; }
    body .left-bar .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 50%;
      width: 70%; }
      body .left-bar .menu div {
        display: flex; }
        body .left-bar .menu div img {
          margin-right: 5%;
          width: 20px;
          height: 20px;
          color: grey; }
        body .left-bar .menu div label {
          cursor: pointer;
          transition-duration: 0.25s;
          padding: 1%; }
          body .left-bar .menu div label:hover {
            background-color: #7E33DE;
            color: white;
            border-radius: 10px; }
    body .left-bar .settings-btn {
      display: flex;
      width: 60%;
      align-items: center; }
      body .left-bar .settings-btn img {
        margin: 5%; }
      body .left-bar .settings-btn label {
        vertical-align: middle;
        cursor: pointer;
        transition-duration: 0.25s;
        padding: 1%; }
        body .left-bar .settings-btn label:hover {
          background-color: #7E33DE;
          color: white;
          border-radius: 10px; }
    body .left-bar .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      body .left-bar .footer .icons {
        display: flex;
        justify-content: space-evenly;
        margin: 15%; }
  body .middle1-bar {
    grid-area: middle1-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    body .middle1-bar .img {
      width: 20px;
      height: 20px; }
    body .middle1-bar .patient-staff {
      display: flex;
      justify-content: space-evenly; }
      body .middle1-bar .patient-staff .stats {
        display: flex;
        align-items: center;
        border: 1px solid #7E33DE;
        border-radius: 10px;
        padding: 2%;
        transition-duration: 0.25s;
        cursor: pointer;
        box-shadow: 0px 0px 2px black; }
        body .middle1-bar .patient-staff .stats:hover {
          background-color: #7E33DE;
          color: white;
          border-radius: 10px; }
        body .middle1-bar .patient-staff .stats img {
          margin-right: 15%; }
    body .middle1-bar #curve_chart {
      width: 500px;
      height: 200px; }
  body .middle2-bar {
    grid-area: middle2-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left; }
    body .middle2-bar .stats {
      display: flex;
      align-items: center;
      border: 1px solid #7E33DE;
      border-radius: 10px;
      padding: 1%;
      height: 15%;
      width: 50%;
      transition-duration: 0.25s;
      cursor: pointer;
      box-shadow: 0px 0px 2px black; }
      body .middle2-bar .stats:hover {
        background-color: #7E33DE;
        color: white;
        border-radius: 10px; }
      body .middle2-bar .stats img {
        width: 20px;
        height: 20px;
        margin: 10%; }
    body .middle2-bar #donutchart {
      width: 300px;
      height: 200px; }
  body .right-bar {
    grid-area: right-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    body .right-bar .stats-last {
      display: flex;
      align-items: center;
      border: 1px solid #7E33DE;
      border-radius: 10px;
      padding: 1%;
      height: 15%;
      width: 50%;
      transition-duration: 0.25s;
      cursor: pointer;
      box-shadow: 0px 0px 2px black; }
      body .right-bar .stats-last:hover {
        background-color: #7E33DE;
        color: white;
        border-radius: 10px; }
      body .right-bar .stats-last img {
        width: 20px;
        height: 20px;
        margin: 10%; }
    body .right-bar #donutchart2 {
      width: 270px;
      height: 200px; }
    body .right-bar #curve_chart2 {
      width: 270px; }

/*# sourceMappingURL=index-style.css.map */
